<nav class="navbar navbar-expand-lg bg-dark p-4" data-bs-theme="dark">
    <div class="container">
        <img src="../../assets/Keylogo.png" alt="" class="img-fluid" style="height: 4rem;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">ΑΡΧΙΚΗ
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">ΚΛΕΙΔΙΑ ΑΥΤΟΚΙΝΗΤΟΥ</a>
                    <div class="dropdown-menu ">
                        <a class="dropdown-item" [routerLink]="['/open-car-lock']">Ανοίγματα Αυτοκινήτου</a>
                        <a class="dropdown-item" [routerLink]="['/repair-car-lock']">Επισκευές Κλειδαριών</a>
                        <a class="dropdown-item" href="#">Αλλαγές</a>
                        <a class="dropdown-item" href="#">Αντίγραφα Κλειδιών</a>
                        <a class="dropdown-item" href="#">Χαμένα Κλειδιά - Καινούργια</a>
                        <a class="dropdown-item" href="#">Αλλαγή Κέλυφη Κλειδιών</a>
                        <a class="dropdown-item" href="#">Τηλεχειριστήρια Αυτοκινήτου</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">ΠΟΡΤΕΣ</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Αλλαγή Θωρακισμένης <br> Πόρτας</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">ΓΚΑΡΑΖΟΠΟΡΤΑ</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Επισκευές Μοτέρ</a>
                        <a class="dropdown-item" href="#">Χειριστήρια - Τηλεχειριστήρια</a>
                        <a class="dropdown-item" href="#">Πλακέτες</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">ΑΝΤΙΓΡΑΦΑ ΚΛΕΙΔΙΩΝ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">ΜΠΑΤΑΡΙΕΣ
                    </a>
                </li>

            </ul>
            <span class="me-5 text-white"><i class="fa-solid fa-phone-volume me-2" style="color: rgb(245, 207, 36)!important;"></i>
                Καλέστε μας:
                <strong class="">210 25 69 465 </strong> </span>
    
        </div>
    </div>
</nav>