<div class="image-container">
    <img src="../../assets/car.webp" class="img-fluid" alt="Your Image">
    <div class="text-over-image ">
        <div class="p-5 " style="margin:11rem">
            <h4 class="animate__animated animate__fadeIn animate__delay-1s">Καλώς ήρθατε στην KeyTech</h4>
            <div class="line animate__animated animate__slideInLeft"></div>


            <h1 class="display-4 fw-bold mt-3 animate__animated animate__fadeInUp">Ο ΑΞΙΟΠΙΣΤΟΣ ΣΥΝΕΡΓΑΤΗΣ ΣΑΣ ΓΙΑ ΤΗΝ ΑΣΦΑΛΕΙΑ ΚΑΤΟΙΚΙΩΝ ΚΑΙ ΑΥΤΟΚΙΝΗΤΩΝ
            </h1>
            <p class="animate__animated animate__fadeIn animate__delay-1s">Παρέχοντας εξειδικευμένες λύσεις κλειδαράς για οικιακές και αυτοκινητικές ανάγκες, εξασφαλίζοντας την
                ασφάλειά σας στο σπίτι και στο δρόμο</p>
            <button class="btn btn-lg btn-primary fw-bold animate__animated animate__fadeIn animate__delay-1s"><i
                    class="fa-solid fa-phone-volume me-2"></i>ΕΠΙΚΟΙΝΩΝΙΑ</button>
        </div>

    </div>
</div>

<div class="container " style="margin-top: -2rem!important;">
    <div class="row">
        <div class="col-md-4 animate__animated animate__backInUp animate__delay-1s">
            <div class="card mb-3 shadow">
                <div class="row g-0">
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-lock fa-3x text-primary"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Αξιόπιστος κλειδαράς</h5>
                            <p class="card-text">Libero sit dolor blandit proin mus imperdiet mi si taciti penatibus
                                ornare</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 animate__animated animate__backInUp animate__delay-1s">
            <div class="card mb-3 shadow" style="background-color: rgb(245, 207, 36);">
                <div class="row g-0">
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-crown  fa-3x"
                            style="color: #f5cf24!important;background-color: white!important;"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Κορυφαία ποιότητα</h5>
                            <p class="card-text">Libero sit dolor blandit proin mus imperdiet mi si taciti penatibus
                                ornare</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 animate__animated animate__backInUp animate__delay-1s">
            <div class="card mb-3 shadow">
                <div class="row g-0">
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-key fa-3x text-primary"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Επαγγελματίας</h5>
                            <p class="card-text">Libero sit dolor blandit proin mus imperdiet mi si taciti penatibus
                                ornare</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="text-center container" style="margin-top:5rem">
    <h4 class="fw-bold" style="font-family: serif;">ΤΙ ΚΑΝΟΥΜΕ</h4>

    <h1 class="fw-bold">Εξειδικευμένες υπηρεσίες</h1>

    <div class="line " style="margin:0 auto;width: 15%;"></div>

    <div class="row mt-5">
        <div class="col-md-4 col-sm-12">
            <div class="image-container">
                <img src="../../assets/main/locksmith.webp" class="img-fluid" alt="Your Image">
                <div class="text-over-image" style="top:50%;left:37%;text-align: left!important;">
                    <div class="">

                        <h1 class=" fw-bold mt-3">Αλλαγές κλειδαριών
                        </h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit dolor</p>
                    </div>
                    <button class="btn btn-primary fw-bold"><i
                            class="fa-solid fa-circle-info me-1"></i>Περισσότερα</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="image-container">
                <img id="service" src="../../assets/main/car-locksmith.webp" class="img-fluid" alt="Your Image">
                <div class="text-over-image" style="top:50%;left:37%;text-align: left!important;">
                    <div class="">

                        <h1 class=" fw-bold mt-3">Αυτοκίνητα-Μηχανές
                        </h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit dolor</p>
                    </div>
                    <button class="btn btn-primary fw-bold"><i
                            class="fa-solid fa-circle-info me-1"></i>Περισσότερα</button>
                </div>

            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="image-container">
                <img id="service" src="../../assets/main/keys.webp" class="img-fluid" alt="Your Image">
                <div class="text-over-image" style="top:50%;left:37%;text-align: left!important;">
                    <div class="">

                        <h1 class=" fw-bold mt-3">Αντίγραφα κλειδιών
                        </h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit dolor</p>
                    </div>
                    <button class="btn btn-primary fw-bold"><i
                            class="fa-solid fa-circle-info me-1"></i>Περισσότερα</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="shadow mt-5 text-center  p-5"
    style="background-image: url('../../assets/main/carage.webp'); background-size: cover;background-position-y:-13rem">
    <div class="container">


        <h1 class="fw-bold text-white">ΓΚΑΡΑΖΟΠΟΡΤΕΣ</h1>
        <div class="row mt-5">
            <div class="col-sm-12 col-md-4">
                <h2 class="text-white fw-bold">ΕΠΙΣΚΕΥΕΣ ΜΟΤΕΡ</h2>
                <div class="line mt-3" style="margin:0 auto;width: 15%;"></div>
                <p class="text-white mt-3">Εξασφαλίστε την ομαλή λειτουργία της γκαραζόπορτας σας με τις εξειδικευμένες
                    υπηρεσίες επισκευής του κινητήρα μας. Διαγιγνώσκουμε και επιδιορθώνουμε τα προβλήματα του μοτέρ,
                    αποκαθιστώντας την άνεση και την ασφάλεια του γκαράζ σας.</p>
                <i class="fa-solid fa-screwdriver-wrench fa-3x"></i>
            </div>
            <div class="col-sm-12 col-md-4">
                <h2 class="text-white fw-bold">ΧΕΙΡΙΣΤΗΡΙΑ</h2>
                <div class="line mt-3" style="margin:0 auto;width: 15%;"></div>
                <p class="text-white mt-3">Είτε χρειάζεστε ένα νέο τηλεχειριστήριο γκαραζόπορτας είτε ένα αντίγραφο του
                    υπάρχοντος, η επαγγελματική μας υπηρεσία εξασφαλίζει αξιόπιστη πρόσβαση στο γκαράζ σας. Προσφέρουμε
                    δημιουργία και αντιγραφή τηλεχειριστηρίου.</p>
                <i class="fa-solid fa-keyboard fa-3x"></i>
            </div>
            <div class="col-sm-12 col-md-4">
                <h2 class="text-white fw-bold">ΠΛΑΚΕΤΕΣ</h2>
                <div class="line mt-3" style="margin:0 auto;width: 15%;"></div>
                <p class="text-white mt-3">Βελτιώστε την απόδοση και την αξιοπιστία της γκαραζόπορτας σας με την
                    αντικατάσταση της πλακέτας κυκλώματος. Οι εξειδικευμένοι τεχνικοί μας θα αναβαθμίσουν γρήγορα το
                    σύστημά σας για μεγαλύτερη άνεση και ασφάλεια.</p>
                <i class="fa-solid fa-gears fa-3x"></i>

            </div>
        </div>
    </div>
</div>


<div class="container text-center mt-5">
    <h1 class="fw-bold">Αλλαγή θωρακισμένης πόρτας</h1>

    <div class="line " style="margin:0 auto;width: 15%;"></div>

    <div class="row">
        <div class="col-md-4 col-sm-12">
            <img src="../../assets/main/door.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-8 col-sm-12">

            <h6 style="text-align: left;" class=" mt-5">Αναβαθμίστε το χώρο σας και ενισχύστε την ασφάλειά σας με τις
                υπηρεσίες αντικατάστασης θυρών μας. Η
                εξειδικευμένη ομάδα μας παρέχει επαγγελματική εγκατάσταση πόρτας, εξασφαλίζοντας μια απρόσκοπτη μετάβαση
                και βελτιωμένη αισθητική, ενώ παράλληλα ενισχύει την ασφάλεια και τη λειτουργικότητα.</h6>
            <ul style="text-align: left;padding: 0;">
                <li class="list-group-item fw-bold">
                    <i class="fa-solid fa-check fa-2x"
                        style="color: #f5cf24!important;background-color: white!important;"></i>

                    Επαγγελματική αντικατάσταση πόρτας για βελτιωμένη αισθητική και ασφάλεια.
                </li>
                <li class="list-group-item fw-bold">
                    <i class="fa-solid fa-check fa-2x"
                        style="color: #f5cf24!important;background-color: white!important;"></i>
                    Η εξειδικευμένη ομάδα εξασφαλίζει μια απρόσκοπτη διαδικασία εγκατάστασης.
                </li>
                <li class="list-group-item fw-bold">
                    <i class="fa-solid fa-check fa-2x"
                        style="color: #f5cf24!important;background-color: white!important;"></i>

                    Βελτιώστε την ασφάλεια και τη λειτουργικότητα με μια νέα πόρτα.
                </li>
                <li class="list-group-item fw-bold">
                    <i class="fa-solid fa-check fa-2x"
                        style="color: #f5cf24!important;background-color: white!important;"></i>

                    Προσαρμοσμένες λύσεις που ταιριάζουν στο στυλ και τις ανάγκες σας.
                </li>
            </ul>

        </div>
    </div>
    <br>
    <br>
</div>